*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properites */
:root {
    --ff-primary: 'Poppins', sans-serif;

    --fw-normal: 300;
    --fw-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;

    --clr-light: #fff;
    --clr-dark: #000;
    --clr-accent: #c6a600;
    --clr-background: linear-gradient(90deg, rgba(117,115,117,1) 0%, rgba(187,187,187,1) 50%, rgba(117,115,117,1) 100%);
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.5);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

body {
    background: var(--clr-background);
    color: var(--clr-dark);
    margin-left: 12em;
    margin-right: 12em;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

/* Class Styles */

.title {
    margin: 1em 3em 1em 3em;
    position: relative;
    background: var(--clr-accent);
    padding: 8px 0px 8px 0px;
    border-radius: 5px;
}

.top {
    display: inline-flex;
}

#input--area__string {
    font-size: var(--fs-h3);
    font-weight: var(--fw-normal);
    border-radius: 5px;
}

#submit--btn {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin: 1em;
    border-radius: 5px;
    padding: 5px;
    background: var(--clr-light);
    color: var(--clr-dark);
    transition: all 0.3s ease;
}

#submit--btn:hover {
    background: var(--clr-accent);
}

.bottom {

}